body.light-mode {
    background-color: #f2f2f2;
    color: #222;
}


body.light-mode .navbar {
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

body.light-mode .navbar a {
    color: rgb(49, 48, 48) !important;
}


body.light-mode h1,
body.light-mode h3 {
    color: #111;
}


body.light-mode .social-media a {
    color: #000;
}

body.light-mode .social-media a:hover {
    color: #1257d6;
}

body.light-mode .btn {
    background-color: #1257d6;
    color: #fff;
}

body.light-mode .btn:hover {
    background-color: #0b3b93;
}


body.light-mode .home-img img {
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}


body.light-mode .sobre {
    background-color: #ffffff;
}